
body {
    margin: 100;
    padding: 100;
    background-image: url('Gwent_spellweaver.jpg');
    background: #000 linear-gradient(#222, #666) fixed;
    color: #fff;
    font-family: 'Arial Rounded MT Bold', sans-serif
}
