
body {
    margin: 0;
    padding: 0;
    background-image: url('img_0518.jpg');
    background: #000 linear-gradient(#222, #666) fixed;
    color: #fff;
    font-family: 'Arial Rounded MT Bold', sans-serif
}
